@model ItemListViewModel

<h1 style="margin-top: 65px;">Browse Available Rentals (@Model.CurrentViewName View)</h1>


<partial name="_ItemTable" model="Model.Items" />

@*<a class="btn btn-primary" asp-action="OrderConsole">Console Output</a>*@